/* IMportei fonte */
@import url('https://fonts.googleapis.com/css2? family= EB+Garamond & display=swap');


header {
   padding: 0;
   background-color: #E8E7DE;
   display: block;
}

body{
    font-family:'EB Garamond', serif;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
}



.img_logo{
    box-sizing: border-box; /* calcular larguras e alturas de acordo com navegador*/
    display: inline-block;/* Possivel ficar perto de outros elementes */
}

.titulo{
    padding-left: 15px;
}

.linha-titulo{
    border: none; /* Remover a borda padrão da linha */
    border-bottom: 3px solid #B07930; /* Adicionar uma borda sólida preta na parte inferior */
    margin: 0 auto 10px; /* Margem superior e inferior de 10px e alinhar a linha no centro */
    width: 98%; /* Definir a largura da linha */
}

    /* Estilização da tabela */
.tabela{ 
    width: 100%; /* Tamanho */
}

.tabela td{
    padding: 7px; /* Espaçamento interno das células de dados */
    text-align: left;
}
    /* Estilização das células de dados */
.tabela th {
    background-color: #236C50 ;
    padding: 7px;
    color: #FCFCF4;
}

/* Estilização do add  */

.estilo_dados{
    vertical-align: top;
    list-style: none;
    text-align: center;
    align-items: center;
}
.insere_dados{
    width: 50%;
    border-width: 2px;
    border-color: #236C50;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    list-style: none;
    list-style: circle;
}
.recebe_dados{
    border-radius: 5px;
    border-color:#B07930;
    font-size: 13px;
    width: 100%;
}
input[type="submit"]{
    background-color:#B07930; 
    color: #FCFCF4;
    padding: 4px;
    border-radius: 5px;
    border-color: #dfa65c;
    cursor: pointer;
    font-size: 13px;
    transition: background-color o.3s ease;
}
input[type="submit"]:hover{
    background-color: #dfa65c;
}

#mensagens-erro{
    color: red;
}
.fadeOut{
    opacity: 0;
    transition: 1s;
}

   /* Estlizaçao do footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    /* position: fixed; Fixar o footer na parte inferior da página */
    width: 100%;
    bottom: 0; /* Alinhar ao fundo */
}

footer p {
    margin: 0; /* Remover margens padrão */
}
